<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
</head>
<body>
    {% include 'allauth/navbar.html' %} <!-- blog/navbar 변경 -->

    <div class="container mt-5 py-3"> <!-- mt-3: nav bar 간격, py-3: card 간격 -->
        <div class="card pl-2 pb-2">
        {% block body %}
            {% if messages %}
                <div>
                    <strong>Messages:</strong>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Sign In, Sign Up -->
            {% block content %}
            {% endblock %}

        {% endblock %}

        {% block extra_body %}
        {% endblock %}


        <div class="fixed-bottom">
            {% include 'blog/footer.html' %}
        </div>
        </div>
    </div>
</body>
</html>
